body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #eef4ff;
}

/* kutular sabit genişlikte */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* kutu genişlikleri */

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/*satırlar*/
.row {
    border: 2px solid blue;
    background-color: cornflowerblue;
    margin: 5px;
}

#ust,
#menu,
#orta {
    min-height: 70px;
}

/*satırlar yan yana gelmesin*/
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* tepkisel resimler */
img {
    max-width: 100%;
    height: auto;
}

/*col- yaslama*/
[class*="col-"] {
    float: left;
    padding: 15px;
    border: 2px solid red;
    background: rgba(255, 255, 255, 0.55);

}

/* 500 px altı ekranlar için */
@media only screen and (max-width: 500px) {
    [class*="col-"] {
        width: 100%;
    }
}
