body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #eef4ff;
}

/* kutular sabit genişlikte */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* kutu genişlikleri */

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/*satırlar*/
.row {
    border: 2px solid blue;
    background-color: cornflowerblue;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
}

#ust,
#menu,
#orta {
    min-height: 70px;
}

/*satırlar yan yana gelmesin*/
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* tepkisel resimler */
img {
    max-width: 100%;
    height: auto;
}

/*col- yaslama*/
[class*="col-"] {
    float: left;
    padding: 4px;
    border: 2px solid red;
    background-color: cornsilk;
    border-radius: 8px;

}

/* 500 px altı ekranlar için */
@media only screen and (max-width: 500px) {
    [class*="col-"] {
        width: 100%;
    }
}



/* kutu yükseklikleri */
#ust {
    min-height: 100px;
}

#menu {
    min-height: 80px;
}

#orta {
    min-height: 400px;
}

#alt {
    min-height: 80px;
}

/* sosyal medya ikonları */
#ikon {
    width: 50px;
    float: right;
    margin-right: 10px;
}

/* anamenü */
#menu #anamenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

#menu #anamenu ul li {
    border: 1px solid blue;
    width: 25%;
    float: left;
    background-color: cornflowerblue;
    border-radius: 5px;
    padding: 10px;
}


/* 500 px altı ekranlar için */
@media only screen and (max-width: 500px) {
    #menu #anamenu ul li {
        width: 100%;
    }
}

/* anamenü linkleri */
#menu #anamenu ul li a {
    text-decoration: none;
    color: white;
    display: block;
    font-weight: bold;
    font-size: 1.2em;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;

}

#menu #anamenu ul li a:hover {
    background-color: #e4e7ea;
    color: yellow;
    border-radius: 5px;
}

#menu #anamenu ul li a:active,
#menu #anamenu ul li a:visited {
    background-color: #e4e7ea;
    color: yellow;
    border-radius: 5px;
}


p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 10px;
}

/* alt menü */
#alt #altmenu p {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px black;
}


#alt #altmenu p a {
    text-decoration: none;


}

#alt #altmenu p a:hover {
    color: yellow;
    text-shadow: 1px 1px 2px black;
}